{% extends 'base.html' %}

{% block title %}
Гитары
{% endblock %}


{% block body %}
<div class="row g-0">
    {% for g in items %}
    <div class="col-3">
        <div class="card p-3 shadow-sm h-100 d-flex flex-column">
            <img src="{{ url_for('static', filename='images/' + g.producer + '.jpg') }}"
            class="card-img-top p-3"
            style="height: 300px; object-fit: contain;"
            alt="{{ g.producer }}">
            <h3>{{ g.producer }} {{ g.form }} {{ g.model }}</h3>
            <p>Цена: {{ g.price }}</p>
            <button class="btn btn-primary mt-auto">Добавить в корзину</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}